.App {
  height: 100vh;
  width: 100vw;
  background-color: #111b21;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
  .App {
    align-items: flex-start;
    justify-content: flex-start;
  }
}